                   # Доступ к Postgres (пользователь должен иметь право создавать БД)
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=hh_vacancies

# Список работодателей через запятую (ID на hh.ru)
# Пример: Яндекс=1740; Сбер=3529; Тинькофф=78638; Ozon=2180; VK=15478 и т.д.
HH_EMPLOYER_IDS=1740,3529,78638,2180,15478,3388,4219,39305,1122462,84585

# Параметры выгрузки
HH_PER_PAGE=100